name: CI

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Create a raw disk image
        shell: bash
        run: |
          dd if=/dev/zero of=simple-alpine.img bs=8M count=16
          (echo "start=2048, size=100MiB, type=c, bootable"; echo "type=83") | sfdisk simple-alpine.img

          # https://github.com/damianperera/mount-image-action/blob/v1/action.yml#L36
          kpartx="$(sudo kpartx -avs simple-alpine.img)" || echo 1>&2 "ERROR: could not create loop devices for image"
          echo $kpartx
          blockDevices=($(grep -o 'loop.p.' <<<"$kpartx"))
          sleep 0.5
          boot=/dev/mapper/${blockDevices[0]}
          root=/dev/mapper/${blockDevices[1]}

          echo "Boot: ${boot}"
          echo "Root: ${root}"

          sudo mkfs.vfat -v ${boot}
          sudo mkfs.ext4 ${root}

          mkdir target
          sudo mount -t ext4 ${root} target

      - name: Have aarch64 environment
        uses: uraimo/run-on-arch-action@v2
        with:
          arch: aarch64
          distro: alpine_latest
          run: |
            uname -a
            cat /etc/os-release

            apk add apk-tools-static
            apk.static \
              --arch $(uname -m) \
              -X http://dl-cdn.alpinelinux.org/alpine/latest-stable/main/ \
              -U \
              --allow-untrusted \
              --root target/ \
              --initdb add alpine-base

      - name: Unmount image
        run: |
          ls -l target/
          sudo umount target

      - name: Upload the disk image
        uses: actions/upload-artifact@v2
        with:
          name: "simple-alpine.img"
          path: "simple-alpine.img"
